.title, .toolbar-actions {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

textarea:focus {
  outline: none;
}

textarea {
  font-family: Menlo, Consolas, "DejaVu Sans Mono";
  resize: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

textarea.base64 {
  word-break: break-all; word-wrap: break-word;
}

textarea.xml {
  white-space: pre;
}

textarea.error {
  white-space: pre;
  font-weight: bold;
  color: red;
}

.pane {
  padding: 5px;
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
      background: #333;
      background-color: #333;
      color: white;
  }
  .title {
    color: #dadde1;
  }
  .toolbar {
    background-color: #333;
    box-shadow: none;
    background-image: none;
  }
  .toolbar-header {
    border-bottom: 1px solid #000;
  }
  .btn:hover, .btn-group:hover {
    background-color: #444950;
  }
  .btn:active, .btn-group:active {
    color: white;
    background-color: #ccd0d5;
  }
  .btn-default {
    color: white;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
  }
  .btn-group .btn + .btn {
    border-left: 1px solid transparent;
  }
  .window,.sidebar {
    background-color: #333;
  }
  .window {
    background-color: #21191a;
  }
  .pane {
    border-left: 1px solid #000;
  }
  .nav-group-item {
    color: #dadde1;
  }
  .nav-group-item:active, .nav-group-item.active {
    background-color: #444950;
  }
}